<!DOCTYPE html>
<html>
	<head>
		<script src="angular.min.js" > </script>
		<script src="ui-bootstrap-tpls-0.11.0.min.js"></script>
	</head>
	<body>
	
	<div ng-app="myapp">
		<div ng-controller="mycontroller">
			<div > TO DO LIST</div>
			<div>Enter ur Task here</div>
			<input type="text" ng-model="myData.myText" > </input>
			<input type="button"  ng-click="addTask()" >Submit Task </input>
			<span ng-bind="myData.myText"> {{myData.myText}}</span>
			<div ng-repeat="task in myTask" ng-bind="task.x"> </div>
		</div>
		
	</div>
				
	

	</body>
	<script>
		angular.module("myapp",[])
			.controller("mycontroller",function($scope){
				
				$scope.myData = {}; 
				$scope.myData.myText = "" ;
				$scope.myTask = [];
				//$scope.myTask.push({x : "item1"});
				$scope.addTask = function (){	
					if($scope.myData.myText == "")
						alert("mein aya");
					else	
						$scope.myTask.push({x : $scope.myData.myText});
					$scope.myData.myText = "";
				};
			}
			);
		/*	.controller("AlertDemoCtrl",function($scope) {
			  $scope.alerts = [
				{ type: 'danger', msg: 'Oh snap! Change a few things up and try submitting again.' },
				{ type: 'success', msg: 'Well done! You successfully read this important alert message.' }
			  ];

			  $scope.addAlert = function() {
				$scope.alerts.push({msg: 'Another alert!'});
			  };

			  $scope.closeAlert = function(index) {
				$scope.alerts.splice(index, 1);
			  };

			});*/
			

	</script>
</html>